*,
*::before,
*::after,
*:active,
*:enabled {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    background-color: #EEE;
    width: 20%;
    height: 20%;
    display: grid;
}